<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/rodeo"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Hospedaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">

    <ion-card  id="card" mode="ios" *ngFor="let hospedaje of hospedajes">
      <div id="img">
        <img src="assets/img/categorias/hospedaje/{{hospedaje.img}}">
      </div>
      <ion-card-header>
        <ion-card-title>{{hospedaje.nombre}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="hospedaje.telefono != '' " href="tel:{{hospedaje.telefono}}">
            <ion-label >
              Telefono: {{hospedaje.telefono}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="hospedaje.email != '' " href="mailto:{{hospedaje.email}}">
            Email: {{hospedaje.email}}
          </ion-item>
          <ion-item>
            Descripcion: {{hospedaje.descripcion}}
          </ion-item>
          <ion-item>
            <iframe *ngIf="hospedaje.id == 1 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27591.065304855118!2d-69.08417660933837!3d-30.183331337230303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684a365dda86b77%3A0xc85819117eac932!2sEmbalse%20Cuesta%20del%20Viento!5e0!3m2!1ses-419!2sar!4v1654388805945!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
            <iframe *ngIf="hospedaje.id == 2 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.966572419615!2d-69.1357340651123!3d-30.209501499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bd71dca0a507%3A0x1816fe7254006f18!2sDirecci%C3%B3n%20de%20Turismo%20y%20Cultura!5e0!3m2!1ses-419!2sar!4v1654390099713!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ion-item>
      </ion-list>
      
      <!-- Listado de redes sociales-->
      <ion-buttons id="buttons">
        <ion-button *ngIf="hospedaje.facebook != '' " href="{{hospedaje.facebook}}" target="_blank">
          <ion-icon size="large" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button *ngIf="hospedaje.instagram != '' " href="{{hospedaje.instagram}}" target="_blank"  >
          <ion-icon size="large" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button *ngIf="hospedaje.telefono != '' " href="https://wa.me/+549{{hospedaje.telefono}}" target="_blank">
          <ion-icon size="large" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      
    </ion-card-content>
    
  </ion-card>
</div>
  
</ion-content>