<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/rodeo"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Turismo</ion-title>

  </ion-toolbar>
</ion-header>
  <ion-searchbar (ionChange)="buscar($event)"animated mode="ios" placeholder="Buscar"></ion-searchbar>      <!-- Busca por titulo los videos-->

<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">
    
    
    <ion-card id="card" mode="ios" *ngFor="let turismo of turismos | filtro: textoBuscar; let i = index ">
       
      
      <div *ngIf="i<num_lugares">


          <div id="img">
            <img src="assets/img/categorias/favoritos/{{turismo.img}}">
          </div>
        <ion-card-header>
          <ion-card-title *ngIf="turismo.nombre != '' " >{{turismo.nombre}}</ion-card-title>
          <br>
          <ion-buttons>

            <ion-button (click)="abrirCard(i)" *ngIf="!abrir[i]">Click para Mostrar Informacion</ion-button>
            <ion-button (click)="abrirCard(i)" *ngIf="abrir[i]">Click para Ocultar Informacion</ion-button>
            
            <ion-button *ngIf="!favoritoEsta(i)" (click)="favoritos(i)" slot="end">
              <ion-icon name="bookmark-outline" size="large"></ion-icon>
            </ion-button>
            <ion-button *ngIf="favoritoEsta(i)" (click)="favoritos(i)" slot="end">
              <ion-icon name="bookmark"  size="large"></ion-icon>
            </ion-button>      
          </ion-buttons>
        </ion-card-header>

        <ion-card-content *ngIf="!abrir[i]" >

        </ion-card-content>

        <ion-card-content *ngIf="abrir[i]">
      
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="turismo.telefono != '' " href="tel:{{turismo.telefono}}">
            <ion-label >
              Telefono: {{turismo.telefono}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="turismo.email != '' " href="mailto:{{turismo.email}}">
            Email: {{turismo.email}}
          </ion-item>
          <ion-item *ngIf="turismo.descripcion != '' " >
            Descripcion: {{turismo.descripcion}}
          </ion-item>
          <ion-item *ngIf="turismo.id != '' " >
            <iframe *ngIf="turismo.id == 1 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.966572419615!2d-69.1357340651123!3d-30.209501499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bd71dca0a507%3A0x1816fe7254006f18!2sDirecci%C3%B3n%20de%20Turismo%20y%20Cultura!5e0!3m2!1ses-419!2sar!4v1654390099713!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 2 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.30112763219!2d-69.10812678488121!3d-30.199951781826016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bcf026566faf%3A0x722f3878db4afad5!2sFinca%20El%20Martillo!5e0!3m2!1ses-419!2sar!4v1655069707929!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
            <iframe *ngIf="turismo.id == 3 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.323362273067!2d-69.10825817483048!3d-30.170755623740426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bb65b9f5707b%3A0x420a8f2ca520c333!2sCuesta%20Del%20Viento%20Kite%20School!5e0!3m2!1ses-419!2sar!4v1655070655601!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 4 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.2211350031275!2d-69.1133407852686!3d-30.20223538182512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bd4a5d39cd1f%3A0xa0fa65aea1c55846!2sNielsen%20Expediciones%20S.A!5e0!3m2!1ses!2sar!4v1656457484337!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 5 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.2344762283215!2d-69.10787687681493!3d-30.173295323736443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bbb51bf3038f%3A0x7234f0b1ba0e39a0!2sFincas%20del%20Lago%20(Kitesurf%20%26%20Windsurf)!5e0!3m2!1ses!2sar!4v1656457783222!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 6 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.299870127106!2d-69.1077599852687!3d-30.199987681826062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bcbaca5cac75%3A0xf1553913ba5e02e0!2sLa%20Morada%20Aventura!5e0!3m2!1ses!2sar!4v1656457798246!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
            <iframe *ngIf="turismo.id == 7 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.531235273597!2d-69.10842918526893!3d-30.19338188182838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bcb1b6ef8059%3A0x41960550c6996557!2sLa%20Vicu%C3%B1ita!5e0!3m2!1ses!2sar!4v1656457858118!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 8 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.103678956886!2d-69.10130698526933!3d-30.177032181834246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bb54ef8b75d9%3A0xcc69ab0e0ec0bbed!2sPlaya%20Lamaral%20Windsurf%20%26%20Kitesurf!5e0!3m2!1ses!2sar!4v1656457916938!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 9 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.1417240752103!2d-69.10185038526936!3d-30.175945281834693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bb54f98ccf43%3A0xb6dc708545e51c8b!2sPuerto%20De%20Palos!5e0!3m2!1ses!2sar!4v1656458150958!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 10 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.3493769463216!2d-69.10699148526952!3d-30.17001228183683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bb51c3835829%3A0x50c1105db1b98049!2sZe%20Peque%C3%B1o!5e0!3m2!1ses!2sar!4v1656512180931!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 11 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.1729497265214!2d-69.10873618526861!3d-30.203610881824666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bdb3ecbf4209%3A0x7932d12c9df9f6f7!2sRafting%20San%20Juan!5e0!3m2!1ses!2sar!4v1656512235395!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 12 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.949728645359!2d-69.10731958526921!3d-30.181429981832675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a9e2f5c2ca7%3A0xb07dad9c00fdf8b5!2sRancho%20Lamaral%20Hostel%20-%20Glamping%20%26%20Camping!5e0!3m2!1ses!2sar!4v1656512215036!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 13 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.281031908434!2d-69.10784888526862!3d-30.2005254818258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bcb64c3dd493%3A0x2fc2ae7a7d5c882!2sCaba%C3%B1as%20Rinc%C3%B3n%20del%20Viento!5e0!3m2!1ses!2sar!4v1656512259249!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="turismo.id == 14 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.130939675588!2d-69.10158218526935!3d-30.176253381834588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bb54177a9c65%3A0xfd9809a63c454cc0!2sTodo%20Viento!5e0!3m2!1ses!2sar!4v1656512312194!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ion-item>
        </ion-list>
        
        <!-- Listado de redes sociales-->
        <ion-buttons id="buttons">
          <ion-button *ngIf="turismo.facebook != '' " href="{{turismo.facebook}}" target="_blank">
            <ion-icon size="large" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button *ngIf="turismo.instagram != '' " href="{{turismo.instagram}}" target="_blank"  >
            <ion-icon size="large" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button *ngIf="turismo.telefono != '' " href="https://wa.me/+549{{turismo.telefono}}" target="_blank">
            <ion-icon size="large" name="logo-whatsapp"></ion-icon>
          </ion-button>
          
          <ion-button *ngIf="!favoritoEsta(i)" (click)="favoritos(i)" slot="end">
            <ion-icon name="bookmark-outline" size="large"></ion-icon>
          </ion-button>
          <ion-button *ngIf="favoritoEsta(i)" (click)="favoritos(i)" slot="end">
            <ion-icon name="bookmark"  size="large"></ion-icon>
          </ion-button>          
        </ion-buttons>
        
          
      </ion-card-content>
      
      
    </div>  
  </ion-card>
</div>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="mostrarLugares($event)">
    <ion-infinite-scroll-content
    loadingSpinner="crescent"
    loadingText="Cargando Lugares...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
  