<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/angualasto"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Turismo</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar (ionChange)="buscar($event)"animated mode="ios"></ion-searchbar>      <!-- Busca por titulo los videos-->
<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">

    <ion-card  id="card" mode="ios" *ngFor="let turismo of turismos| filtro: textoBuscar; let i = index">
      <div id="img">
        <img src="assets/img/categorias/turismo/{{turismo.img}}">
      </div>
      <ion-card-header>
        <ion-card-title *ngIf="turismo.nombre != '' " >{{turismo.nombre}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="turismo.telefono != '' " href="tel:{{turismo.telefono}}">
            <ion-label >
              Telefono: {{turismo.telefono}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="turismo.email != '' " href="mailto:{{turismo.email}}">
            Email: {{turismo.email}}
          </ion-item>
          <ion-item *ngIf="turismo.descripcion != '' ">
            Descripcion: {{turismo.descripcion}}
          </ion-item>
          <ion-item *ngIf="turismo.id != '' ">
            
          </ion-item>
        </ion-list>
        
      <!-- Listado de redes sociales-->
      <ion-buttons id="buttons">
        <ion-button *ngIf="turismo.facebook != '' " href="{{turismo.facebook}}" target="_blank">
          <ion-icon size="large" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button *ngIf="turismo.instagram != '' " href="{{turismo.instagram}}" target="_blank"  >
          <ion-icon size="large" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button *ngIf="turismo.telefono != '' " href="https://wa.me/+549{{turismo.telefono}}" target="_blank">
          <ion-icon size="large" name="logo-whatsapp"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button *ngIf="favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark"  size="large"></ion-icon>
        </ion-button>

      </ion-buttons>
      
      
    </ion-card-content>
    
  </ion-card>
</div>
 
</ion-content>
