#img{
    width: 100%;
    max-width: 700px;
    margin: 0;
    background-size: cover; 
}

#card{
    width: 95%;
    max-width: 700px;
    border-radius: 15px; 
}


#container{
    position: relative;
    margin: auto;
    width: 600px;
    height: 600px;
}
