<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/tudcum"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Hospedaje</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar (ionChange)="buscar($event)"animated mode="ios" placeholder="Buscar"></ion-searchbar>      <!-- Busca por titulo los videos-->
<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">

    <ion-card  id="card" mode="ios" *ngFor="let hospedaje of hospedajes| filtro: textoBuscar; let i = index ">
      <div id="img">
        <img src="assets/img/categorias/favoritos/{{hospedaje.img}}">
      </div>
      <ion-card-header>
        <ion-card-title *ngIf="hospedaje.nombre != '' " >{{hospedaje.nombre}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="hospedaje.telefono != '' " href="tel:{{hospedaje.telefono}}">
            <ion-label >
              Telefono: {{hospedaje.telefono}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="hospedaje.email != '' " href="mailto:{{hospedaje.email}}">
            Email: {{hospedaje.email}}
          </ion-item>
          <ion-item *ngIf="hospedaje.descripcion != '' ">
            Descripcion: {{hospedaje.descripcion}}
          </ion-item>
          <ion-item *ngIf="hospedaje.id != '' ">
            <iframe *ngIf="hospedaje.id == 100 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.5592625256554!2d-69.23612938526655!3d-30.27813658179787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684be31f8527b2d%3A0x6a1fdc4b17f95fb9!2sHospedaje%20y%20Restaurant%20la%20Olla!5e0!3m2!1ses-419!2sar!4v1655148097995!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 101 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1627.5181506747438!2d-69.27148562948375!3d-30.19168552201003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684b93803d08907%3A0xe2aa60ac2293072a!2sCaba%C3%B1a%20La%20Margarita!5e0!3m2!1ses!2sar!4v1656557639701!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
          
          
          
          
          
          </ion-item>
        </ion-list>
        
        <!-- Listado de redes sociales-->
        <ion-buttons id="buttons">
          <ion-button *ngIf="hospedaje.facebook != '' " href="{{hospedaje.facebook}}" target="_blank">
            <ion-icon size="large" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button *ngIf="hospedaje.instagram != '' " href="{{hospedaje.instagram}}" target="_blank"  >
            <ion-icon size="large" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button *ngIf="hospedaje.telefono != '' " href="https://wa.me/+549{{hospedaje.telefono}}" target="_blank">
            <ion-icon size="large" name="logo-whatsapp"></ion-icon>
          </ion-button>

          
        <ion-button *ngIf="!favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button *ngIf="favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark"  size="large"></ion-icon>
        </ion-button>
        </ion-buttons>
        
        
      </ion-card-content>
      
    </ion-card>
  </div>
 
</ion-content>