<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>

<body>
  
  <section class="form-contact">
    <header>
      <span>
        <ion-icon name="information-circle-outline" class="icon"></ion-icon>
      </span>
    </header>

    <form action="https://formsubmit.co/paredesfrancisco031@gmail.com" class="contact" method="POST">
      <label for="Nombre Completo">Nombre Completo:</label>
      <input type="text" name="Nombre Completo" id="Nombre Completo" required>
      
      <label for="Telefono">Telefono:</label>
      <input type="tel" name="Telefono" id="Telefono" required>

      <label for="Correo Electornico">Correo Electronico:</label>
      <input type="email" name="Correo Electronico" id="Correo Electronico" required>

  

      <label for="Descripcion">Descripcion</label>
      <textarea name="Descripcion" id="Descripcion" required></textarea>
      <input type="submit" value="Enviar">

    </form>

  </section>
  
</body>
  
  
  

</ion-content>
