<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/rodeo"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar (ionChange)="buscar($event)"animated mode="ios" placeholder="Buscar"></ion-searchbar>      <!-- Busca por titulo los videos-->
<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">

    <ion-card  id="card" mode="ios" *ngFor="let restaurante of restaurantes | filtro: textoBuscar; let i = index ">
      <div id="img">
        <img src="assets/img/categorias/restaurante/{{restaurante.img}}">
      </div>
      <ion-card-header>
        <ion-card-title *ngIf="restaurante.nombre != '' " >{{restaurante.nombre}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="restaurante.telefono != '' " href="tel:{{restaurante.telefono}}">
            <ion-label >
              Telefono: {{restaurante.telefono}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="restaurante.email != '' " href="mailto:{{restaurante.email}}">
            Email: {{restaurante.email}}
          </ion-item>
          <ion-item *ngIf="restaurante.descripcion != '' " >
            Descripcion: {{restaurante.descripcion}}
          </ion-item>
          <ion-item *ngIf="restaurante.id != '' " >
            <iframe *ngIf="restaurante.id == 200 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.885694448053!2d-69.13828287347572!3d-30.211809712625012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bde4eec7c429%3A0xbb9940ec2470a5d9!2sKarina%20Varela%20Comedor!5e0!3m2!1ses-419!2sar!4v1655071286230!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="restaurante.id == 201 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.885694448053!2d-69.13828287347572!3d-30.211809712625012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc0e7be2d5c09a4f8!2sPedro&#39;s%20Confiter%C3%ADa!5e0!3m2!1ses-419!2sar!4v1655071834627!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="restaurante.id == 202 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.9638956298686!2d-69.13251048014831!3d-30.20957789665569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684bced9b2b3d69%3A0x3c4498ec2bb2e0aa!2sConfiter%C3%ADa%20%22Yo%20Tengo%20Fe%22!5e0!3m2!1ses-419!2sar!4v1655072254034!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
          </ion-item>
        </ion-list>
        
        <!-- Listado de redes sociales-->
        <ion-buttons id="buttons">
          <ion-button *ngIf="restaurante.facebook != '' " href="{{restaurante.facebook}}" target="_blank">
            <ion-icon size="large" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button *ngIf="restaurante.instagram != '' " href="{{restaurante.instagram}}" target="_blank"  >
            <ion-icon size="large" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button *ngIf="restaurante.telefono != '' " href="https://wa.me/+549{{restaurante.telefono}}" target="_blank">
            <ion-icon size="large" name="logo-whatsapp"></ion-icon>
        </ion-button>

    
        <ion-button *ngIf="!favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button *ngIf="favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark"  size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      
    </ion-card-content>
    
  </ion-card>
</div>
 
</ion-content>