<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/lasflores"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Hospedaje</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar (ionChange)="buscar($event)"animated mode="ios" placeholder="Buscar"></ion-searchbar>      <!-- Busca por titulo los videos-->
<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">

    <ion-card  id="card" mode="ios" *ngFor="let hospedaje of hospedajes| filtro: textoBuscar; let i = index ">
      <div id="img">
        <img src="assets/img/categorias/favoritos/{{hospedaje.img}}">
      </div>
      <ion-card-header>
        <ion-card-title *ngIf="hospedaje.nombre != '' " >{{hospedaje.nombre}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="hospedaje.telefono != '' " href="tel:{{hospedaje.telefono}}">
            <ion-label >
              Telefono: {{hospedaje.telefono}}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="hospedaje.email != '' " href="mailto:{{hospedaje.email}}">
            Email: {{hospedaje.email}}
          </ion-item>
          <ion-item *ngIf="hospedaje.descripcion != '' ">
            Descripcion: {{hospedaje.descripcion}}
          </ion-item>
          <ion-item *ngIf="hospedaje.id != '' " >
            <iframe *ngIf="hospedaje.id == 100 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.971196247803!2d-69.21017447677923!3d-30.323337123510186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495a4df37ce6d%3A0x342d417b57328f18!2sCaba%C3%B1as%20Los%20Frutales!5e0!3m2!1ses-419!2sar!4v1655144927226!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 101 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.031885031799!2d-69.21701278526535!3d-30.321610881782274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495c8381452ab%3A0x436c3f870a29eedd!2sCaba%C3%B1as%20El%20Sauce!5e0!3m2!1ses-419!2sar!4v1655145125235!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 102 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.3378650278923!2d-69.23480128526553!3d-30.312906181785443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495a2106cff25%3A0x62d8d7ca82c063a!2sLa%20Comarca%20Del%20Jarillal!5e0!3m2!1ses!2sar!4v1656555509500!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 103 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.020600000923!2d-69.21380148526539!3d-30.32193188178217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495c92cbf306d%3A0x183d60c1cb47b58b!2sPosada%20Bioce%C3%A1nica!5e0!3m2!1ses!2sar!4v1656555533373!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 104 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.2094571043995!2d-69.21779638526552!3d-30.31655948178408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96849538e487cfeb%3A0x2593f4367879a0c8!2sVilla%20Franco!5e0!3m2!1ses!2sar!4v1656555548722!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 105 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.08176990116!2d-69.21190918526534!3d-30.320191881782783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495ff5b279e87%3A0x62bfeceaba26e14a!2zQ2FiYcOxYSAiRWwgQW5nZWxpdG8i!5e0!3m2!1ses!2sar!4v1656556051702!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 106 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1177778002493!2d-69.21223678526539!3d-30.31916758178318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495898e56db29%3A0x42337995f3e0e002!2sCaba%C3%B1as%20el%20Paisanito!5e0!3m2!1ses!2sar!4v1656555698683!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 107 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.997183178203!2d-69.20588044191351!3d-30.32259795788465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x87fcc9bdf62c4da5!2sCaba%C3%B1as%20de%20MARY!5e0!3m2!1ses!2sar!4v1656556095921!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 108 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.9611461421737!2d-69.2205363852653!3d-30.32362298178159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2f27328fa755ff28!2sEl%20Mangrullo!5e0!3m2!1ses!2sar!4v1656555988549!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 109 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.030380367262!2d-69.2149738852654!3d-30.32165368178226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495189fad113b%3A0x557c174da5f78f20!2sCABA%C3%91AS...VALERIO!5e0!3m2!1ses!2sar!4v1656555875718!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 110 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.368171515151!2d-69.23120868526553!3d-30.3120438817858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495b10d9f7c8d%3A0xff8fd921c70e7829!2sCaba%C3%B1as%20Guillermo%20Alonso!5e0!3m2!1ses!2sar!4v1656555916373!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 111 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.9611461421737!2d-69.2205363852653!3d-30.32362298178159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495c9d3cbbb91%3A0xb55d322380bda897!2sCaba%C3%B1as%20La%20Tremenda!5e0!3m2!1ses!2sar!4v1656555967271!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 112 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.963519291415!2d-69.22314268503492!3d-30.323555481781597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495b6def1a0b5%3A0x6267a0ee5a30187a!2sCaba%C3%B1as%20El%20Relincho!5e0!3m2!1ses!2sar!4v1656556364315!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 113 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.9468790197684!2d-69.20609248503489!3d-30.32402878178142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495d25301f025%3A0x74862e2593241937!2sCaba%C3%B1as%20Vega!5e0!3m2!1ses!2sar!4v1656556382213!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 114 "  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.337959923597!2d-69.22006958503515!3d-30.31290348178542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9684958ecb95199d%3A0x1a4d6b6ed0b0500d!2sPosada%20del%20valle%20(Las%20Flores)!5e0!3m2!1ses!2sar!4v1656556404390!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe *ngIf="hospedaje.id == 115 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6889.159731482993!2d-69.23413863157658!3d-30.306019999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96849599f2850625%3A0x64fd35c807f13a12!2sVilla%20Los%20Perales!5e0!3m2!1ses-419!2sar!4v1656981922900!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </ion-item>
      </ion-list>
      
      <!-- Listado de redes sociales-->
      <ion-buttons id="buttons">
        <ion-button *ngIf="hospedaje.facebook != '' " href="{{hospedaje.facebook}}" target="_blank">
          <ion-icon size="large" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button *ngIf="hospedaje.instagram != '' " href="{{hospedaje.instagram}}" target="_blank"  >
          <ion-icon size="large" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button *ngIf="hospedaje.telefono != '' " href="https://wa.me/+549{{hospedaje.telefono}}" target="_blank">
          <ion-icon size="large" name="logo-whatsapp"></ion-icon>
        </ion-button>

        <ion-button *ngIf="!favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button *ngIf="favoritoEsta(i)" (click)="favoritos(i)" slot="end">
          <ion-icon name="bookmark"  size="large"></ion-icon>
        </ion-button>



      </ion-buttons>
      
      
    </ion-card-content>
    
  </ion-card>
</div>
  
</ion-content>