<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-sharp" defaultHref="/lasflores"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar (ionChange)="buscar($event)"animated mode="ios"></ion-searchbar>      <!-- Busca por titulo los videos-->
<ion-content>
  <!-- AGREGAR RESTO DE COMPONENTES -->
  <div id="container">

    <ion-card  id="card" mode="ios" *ngFor="let restaurante of restaurantes| filtro: textoBuscar; let i = index ">
      <div id="img">
        <img src="assets/img/categorias/restaurante/{{restaurante.img}}">
      </div>
      <ion-card-header>
        <ion-card-title>{{restaurante.nombre}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <!-- Listado de datos-->
        <ion-list>
          <ion-item *ngIf="restaurante.telefono != '' " href="tel:{{restaurante.telefono}}">
            <ion-label >
              Telefono: {{restaurante.telefono}}
            </ion-label>
          </ion-item>
        <ion-item *ngIf="restaurante.email != '' " href="mailto:{{restaurante.email}}">
          Email: {{restaurante.email}}
        </ion-item>
        <ion-item>
          Descripcion: {{restaurante.descripcion}}
        </ion-item>
        <ion-item>
          <iframe *ngIf="restaurante.id == 1 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.9217463781843!2d-69.22635442000332!3d-30.324743617972306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495b6def1a0b5%3A0x6267a0ee5a30187a!2sCaba%C3%B1as%20El%20Relincho!5e0!3m2!1ses-419!2sar!4v1655145766698!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <iframe *ngIf="restaurante.id == 2 " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.020600000923!2d-69.21380148526539!3d-30.32193188178217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968495c92cbf306d%3A0x183d60c1cb47b58b!2sPosada%20Bioce%C3%A1nica!5e0!3m2!1ses-419!2sar!4v1655145790838!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </ion-item>
      </ion-list>
      
      <!-- Listado de redes sociales-->
      <ion-buttons id="buttons">
        <ion-button *ngIf="restaurante.facebook != '' " href="{{restaurante.facebook}}" target="_blank">
          <ion-icon size="large" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button *ngIf="restaurante.instagram != '' " href="{{restaurante.instagram}}" target="_blank"  >
          <ion-icon size="large" name="logo-instagram"></ion-icon>
        </ion-button>
        <ion-button *ngIf="restaurante.telefono != '' " href="https://wa.me/+549{{restaurante.telefono}}" target="_blank">
          <ion-icon size="large" name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      
    </ion-card-content>
    
  </ion-card>
</div>
  
</ion-content>